@import "tailwindcss";

@source "../../views/*.ejs";
@source "../../views/partials/*.ejs";

@layer components {
    .bg-fix {
        @apply fixed top-0 left-0 right-0 w-full;
    }

    .flex-start {
        @apply flex items-start justify-start;
    }

    .flex-end {
        @apply flex items-end justify-end;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-between {
        @apply flex justify-between items-center;
    }
}

:root,
html {
    background-color: #fffaf1;
    color: #1e1e1e;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
