<aside class="bg-fix z-40 w-72 h-full transition-all -translate-x-full sm:translate-x-0 p-4">
    <div class="h-full px-3 py-4 flex flex-col items-start overflow-y-auto bg-white rounded-xl p-6">
        <h2 class="text-2xl font-extrabold mb-6">Admin Panel</h2>
        <nav class="flex-center h-full flex-col gap-3 w-full">
            <a href="/admin/dashboard" class="flex items-center gap-3 w-full px-3 py-2 rounded-xl transition bg-green-600 text-white"><i class="bi bi-plus text-2xl"></i> Dashboard</a>
            <a href="/admin/dashboard" class="flex items-center gap-3 w-full px-3 py-2 rounded-xl transition bg-green-600 text-white"><i class="bi bi-plus text-2xl"></i> Dashboard</a>
            <a href="/admin/dashboard" class="flex items-center gap-3 w-full px-3 py-2 rounded-xl transition bg-green-600 text-white"><i class="bi bi-plus text-2xl"></i> Dashboard</a>
            <a href="/admin/dashboard" class="flex items-center gap-3 w-full px-3 py-2 rounded-xl transition bg-green-600 text-white"><i class="bi bi-plus text-2xl"></i> Dashboard</a>
            <a href="/auth/logout" class="flex items-center gap-3 mt-auto w-full px-3 py-2 rounded-xl transition bg-red-500 hover:bg-red-600 text-white font-bold"><i class="bi bi-box-arrow-right text-2xl"></i> Logout</a>
        </nav>
    </div>
</aside>
