<!DOCTYPE html>
<html lang="en" class="duration-100 selection:bg-button-primary/20 box-border antialiased">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title><%= title %> | Admin Panel</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Share+Tech+Mono&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <body class="relative w-full overflow-x-hidden min-h-screen">
            <%- include("../partials/sidebar") %>
            <main class="py-4 pr-4 sm:ml-72 pl-4 min-h-screen"><%- body %></main>
        </body>
    </body>
</html>
